CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vs
.vscode
bin
out
build
*.tcl

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
*.spec

# Buildozer/Android
.buildozer/
bin/